# C++ Object Files
*.o

# Compiled Simulation Code
hybrid_sim

# Compiled standalone programs
weighted_dist
hybrid_fourier

# VSCode IDE Files
.vscode/

# SLURM Job Management Files
slurm_submit

# Data from previously run simulations / tests
dat/

# Output cleanup batch file
output_rm

# Output files
*.dat
*.out
*.bov
RunPDFVis.py

# Active workspace
working.png

